filebrowser/.filebrowser.json
filebrowser/filebrowser.db

timescale/data
timescale/backups/*
timescale/queries/*

nginx/nginx.conf

pgadmin/

grafana/

mosquitto/**/*
!/mosquitto/config
!/mosquitto/config/mosquitto.conf.example
!/mosquitto/config/passwd.sh

.env

**/target
